<div id="container">

  <div id="hero" class="d-flex flex-column flex-md-row align-items-center pt-3">
    <div class="d-flex flex-column align-items-center">
      <h1 class=" m-4 p-1">
        Tutto il cinema che vuoi, a casa tua!
      </h1>
      <h5 class="m-4">
        Netflix produce una straordinaria programmazione originale che non troverai da nessun'altra parte. Film, serie
        TV,
        speciali e molto di più... su misura per te.
      </h5>
      <div class="d-flex">
        <a class="btnHero me-5 p-2">Accedi</a>
        <a class="btnHero ms-4 p-2">Registrati</a>
      </div>
    </div>

    <div>
      <img
        src="https://t-mobile.scene7.com/is/image/Tmusprod/netflix-hero_desktop:HERO-desktop?fmt=png&qlt=85,0&resMode=sharp2&op_usm=1.75,0.3,2,0"
        alt="logo netflix" class="ms-3" />
    </div>
  </div>


  <div id="containerCards">
    <div class="row d-flex justify-content-evenly">

      <div class="card col-3 m-2">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="card-title">Piano Base</h3>
            <h2>5,99€</h2>
          </div>
          <p class="card-text">Abbonamento che consente l'accesso soltanto ad un singolo dispositivo.</p>
          <a href="#" class="btn btn-primary">ABBONATI ORA</a>
        </div>
      </div>

      <div class="card col-3 m-2">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="card-title">Piano Medio</h3>
            <h2>12,99€</h2>
          </div>
          <p class="card-text">Abbonamento che consente l'accesso a 2 dispositivi in contemporanea.</p>
          <a href="#" class="btn btn-primary">ABBONATI ORA</a>
        </div>
      </div>

      <div class="card col-3 m-2">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="card-title">Piano Family</h3>
            <h2>16,99€</h2>
          </div>
          <p class="card-text">Abbonamento che consente l'accesso a 3 dispositivi in contemporanea.</p>
          <a href="#" class="btn btn-primary">ABBONATI ORA</a>
        </div>
      </div>

    </div>
  </div>

  <div id="infoServizio" class="d-flex justify-content-between">
    <div>
      <img class="m-3"
        src="https://www.usatoday.com/gcdn/presto/2021/11/02/USAT/76ef76fc-d814-4f40-967f-566db9b89659-Netflix_Gaming_Android_Collage_1920x1080__UCAN_En.jpg?width=660&height=372&fit=crop&format=pjpg&auto=webp"
        alt="Netflix devices">
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <h3 class="m-3">
        Guarda i tuoi film e serie preferite su tutti i tipi di devices!
      </h3>
    </div>
  </div>

</div>